body{
    margin: 0 auto;
}
.page{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 10px 2fr 0px 1fr;
    grid-template-rows: 2fr 0px 2fr 0px 1fr;
    grid-template-areas: 
        "title title title"
        "main header main"
        "footer footer footer";
}

.title{
    grid-area: header;
    background-color: beige;
    height: 10em;
    width: 10em;
}